body{

}
#exit{
  z-index: 4;
  top: 10%;
  display: none;
}
#imgimg{
  display: none;
  position:absolute;
  z-index: 4;
  width: 100vw;
  height:100vh;
  margin: -8px;

}
.bgg{
  background-image:url("../GIF/sayoridead.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg{
 background-image:url("../Img/Menu_bg.png");
 animation: animate-background 10s linear infinite;
}

.Choice{
  font-family: Calibri;
  color: Black;
  text-align: center;
  top:40%;
  left: 50%;
  width: 400px;
  height: 50px;
  position: absolute;
  margin-left: -200px;
  margin-top: -50px;
  border: 5px #f2c1d7 solid ;
  background-color: #fee6f4;
  text-decoration: none;
}
#monikey{
  position: absolute;
  left:38.5%;
  bottom: -0%;
  height: 102%;
}

#sayori{
  top: 50%;
}


@keyframes animate-background {
  from { background-position:0px 0px;}
  to { background-position:-1208px 1210px;}
}
